@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins', 'abstracts/maps',
  'abstracts/utilities';

// 2. Vendors
@import 'vendors/normalize', 'vendors/rfs';

// 3. Base stuff
@import 'base/root', 'base/reset', 'base/base', 'base/fonts', 'base/typography', 'base/helpers',
  'base/utilities-api';

// 4. Layout-related sections
@import 'layout/header', 'layout/main', 'layout/footer';

// 5. Components
@import 'components/components';

// 6. Page-specific styles

// 7. Themes
@import 'themes/default';
