// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

@import 'helpers/clearfix';
@import 'helpers/color-bg';
@import 'helpers/colored-links';
@import 'helpers/ratio';
@import 'helpers/position';
@import 'helpers/stacks';
@import 'helpers/visually-hidden';
@import 'helpers/stretched-link';
@import 'helpers/text-truncation';
@import 'helpers/vr';

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}
