// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  width: 100%;
  font-size: $header-font-size;
  line-height: $header-line-height;
}

@include media-breakpoint-between('mobile', 'tablet-landscape') {
  header {
    height: $header-height-mobile;
  }
}

@include media-breakpoint-up('tablet-landscape') {
  header {
    height: $header-height-desktop;
  }
}
