// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$min-contrast-ratio: 3;
$primary: #408fff;
$white: #fff !default;
$gray-100: #f1f0f1 !default;
$gray-200: #e0dedf !default;
$gray-300: #c7c4c6 !default;
$gray-400: #aeaaac !default;
$gray-500: #959093 !default;
$gray-600: #7c7679 !default;
$gray-700: #625d60 !default;
$gray-800: #484446 !default;
$gray-900: #2e2c2d !default;
$black: #000 !default;

$body-bg: $gray-100;
$body-color: $gray-700;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$h7-font-size: $font-size-base * 0.875 !default;
$h8-font-size: $font-size-base * 0.75 !default;
$h9-font-size: $font-size-base * 0.625 !default;
$h10-font-size: $font-size-base * 0.5 !default;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size,
  9: $h9-font-size,
  10: $h10-font-size,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$header-height: 5rem;
$main-height: calc(100% - $header-height);
$header-font-size: 1.25rem;
$header-line-height: 1.2;
